<div class="Search-box">
  <h1>Main page</h1>

  <br><br>

    <div data-controller='books'>
      <input type="text" data-action='books#search' data-books-target="input">
      <%# add a drop down here that searches the api and creates a list of books based on the outputValue %>
    </div>


     
      <ul>
        <li></li>
        <li></li>
      </ul>

  <br><br>


</div>
