<div class="d-flex align-items-center justify-content-center">
  <h1>Main page</h1>

  <div data-controller="books" data-books-numberBooks-value=0>
    <h1 data-books-container-value="<%= %>"> </h1>

   <h1 data-books-target='output'></h1>
    <button data-action='books#click'>clickme</button>
      <button data-action='books#fetch'>fetch</button>
    
 </div> 
</div> 

<br><br>

  <div data-controller="">
     
  </div>



<br><br>

<div data-controller="text-input">
  <input type="text" data-action="text-input#changed" data-text-input-target="input">
  <h1 data-text-input-target='output'></h1>
</div>


