
   <div class="book-list-container gap-3 mt-4"> 
       <% @books.each do |book| %> 
         <%= render book %> 
       <% end %> 
   </div> 

<div class="pages"> 
   <div class="mt-4 pages"> 
     <%= paginate @books %> 
   </div> 
</div>
