<div class="Search-box">
  <h1>Main page</h1>

  <br><br>

    <div data-controller='text-input'>
      <input type="text" data-action='text-input#changed' data-text-input-target="input">
      <%# add a drop down here that searches the api and creates a list of books based on the outputValue %>

    </div>

  <br><br>



</div>
