<p style="color: green"><%= notice %></p>


   <%# Show only user books %>


<div class="book-list-container gap-3">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
</div>

<div class="pages">
  <%= paginate @books %>
</div>
