<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div class ="search-box">

   <%# Show only user books %>



  <%= link_to "New book", new_book_path, class: "btn btn-primary" %>
</div>


<div class="book-list-container gap-3">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
</div>

<div class="pages">
  <%= paginate @books %>
</div>
