<p style="color: green"><%= notice %></p>

<h1>Books</h1>




<div class="book-list-container gap-3">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
</div>

<div>
 <%= link_to "New book", new_book_path %>
</div>
