<p style="color: green"><%= notice %></p>


   <%# Show only user books %>


<div id="books" class="book-list-container gap-3 mt-4">
    <% @books.each do |book| %>
      <%= render book, book: book %>
    <% end %>
</div>

<div class="pages">
  <%= paginate @books %>
</div>
