/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* body { */
/*   background-color: #262626 !important; */
/* } */

.bg-gray-light {
  background-color: #303030 !important;
}

.bg-gray-dark {
  background-color: #121212 !important;
}

.bg-gray-medium {
  background-color: #1c1c1c !important;
}

.book-max-h {
  max-width: 50rem !important;
}

.book-min-h {
  max-width: 25rem !important;
}

.font-color {
  color: #b2b2b2 !important;
}

.single-book {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book-image {
  width: 200px !important;
  height: 300px !important;
}

.book-list-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-title {
  max-width: 200px;
  word-wrap: break-word; 
}

.book-author {
  max-width: 200px;
  word-wrap: break-word; 
}
