/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* body { */
/*   background-color: #262626 !important; */
/* } */

.bg-gray-light {
  background-color: #303030 !important;
}

.bg-gray-dark {
  background-color: #121212 !important;
}

.bg-gray-medium {
  background-color: #1c1c1c !important;
}

.book-max-h {
  max-width: 50rem !important;
}

.book-min-h {
  max-width: 25rem !important;
}

.font-color {
  color: #b2b2b2 !important;
}

.single-book {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book-image {
  width: 200px !important;
  height: 300px !important;
  opacity:1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.add-book {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.book-list-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.single-book:hover .image {
  opacity: 0.3;
}

.single-book:hover .add-book {
  opacity: 1;
}

.book-body {
  display: flex;
  flex-direction: column; 
}

.book-title {
  max-width: 200px;
  max-height: 50px;
  margin-top: 0.5rem;
  word-wrap: break-word; 
  overflow: hidden;
  text-overflow: ellipsis
}

.book-author {
  max-width: 200px;
  max-height: 50px;
  word-wrap: break-word; 
  overflow: hidden;
  text-overflow: ellipsis
}

.book-year {

}

.book-register {
  display: contents; 
}

.book-create {
  display: flex;
}

.book-dropdown {
  display: flex;
  justify-content: center
}

.search-box {
  display: flex;
  justify-content: center;
  width: 500px;
}

.pages {
  display: flex;
  justify-content: center;
}


.first-class {
  display: flex;
}

.li {
  list-style-type: none;
}

.double-buttons {
  display: flex;
  justify-content: space-evenly;
}

.add-book-page-selection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.add-book-page-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-navbar {
  display: flex;
  align-items: center
}
.user-email {
  padding-right: 1rem;
}
